/**
*创建时间:  2018/5/17
*  作  者：Jimck_Zhang
*  邮  箱：XIAOZHANG10086XIAOZHANG@live.com
*  功  能:
*/
@header-height: 65px;
.logo {
  align-items: center;
  display: flex;
}

.header-row {
  margin-top: 0 !important;
  .header-right {
    float: right;
    line-height: @header-height - 2;
    height: @header-height - 2;
    display: block;
    z-index: 2;
    background: #fff;
    color: #fff;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    .user-org {
      color: #333;
      display: inline-table;
    }
    .user-inf {
      width: 100px;
      padding: 0 10px;
      text-align: center;
      color: #004dbd;
    }
    .avatar {
      background: rgba(255, 255, 255, .85);
      vertical-align: middle;
      margin-right: 5px;
    }
    .platform-help {
      margin-right: 30px;
      color: #333;
    }
  }
}

.h65 {
  height: 65px;
}

.header-menu, .logo, .h65 {
  line-height: @header-height;
  height: @header-height;
}

.header-border {
  border-bottom: 1px solid #e9e9e9;
}

.logo img {
  width: 148px;
  height: 48px;
}

.logo span {
  font-size: 24px;
  padding-left: 5px;
}

.header-button .ant-btn {
  margin-left: 5px;
}

.white-bg {
  background-color: #fff;
}
