/**
 *创建时间:  2017/11/4
 *  作  者：Jimck_Zhang
 *  邮  箱：XIAOZHANG10086XIAOZHANG@live.com
 *  功  能:
 */
@import "~antd/lib/style/themes/default.less";

@bg-color: #f2f5f4;
@color: #333;
.login-layout {
  width: 100%;
  height: 100%;
  color: @bg-color;
  background-size: cover;
  .login-footer-layout {
    text-align: center;
    align-content: center;
    color: @color;
    background-color: #eff4f8;
    a {
      display: inline-block;
    }
  }
}

.login-header-layout {
  img {
    height: 56px;
  }
  background: none;
  color: #949494;
  font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Sans Serif", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.login-center-layout {
  height: 100%;
  //padding: 10px 0 220px 0;
  background: none;
  span {
    color: @color !important;
  }
  label {
    color: @color !important;
  }
  .login-conter-img {
    text-align: center;
  }
}

.login-center-content {
  height: 100%;
}

.login-form-container {
  padding-right: 10px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  color: @bg-color !important;
  padding: 40px 30px 40px 30px;
  background: #fff;
  border-radius: 10px;
  .submit-btn {
    span {
      color: #fff !important;
    }
  }
  .form-link {
    text-align: end;
    margin-top: 14px;
  }
  .other-platform-login {
    text-align: left;
    color: @color;
    margin-top: 10px;
    img {
      width: 32px;
      height: 32px;
    }
  }
}

.color-write {
  color: @color !important;
}

.split-line {
  display: inline-table;
  margin: auto 14px;
  color: #9c9999;
}
