/**
 *创建时间:  2018/5/18
 *  作  者：Jimck_Zhang
 *  邮  箱：XIAOZHANG10086XIAOZHANG@live.com
 *  功  能:
 */
.blogleave-msg-pag {
  .mes-show {
    margin-bottom: 30px;
  }
  .bq {
    padding: 0.8em 1.5em;
    _color: #6a737d;
    background-color: #f7f7f7;
    border-left: 0.25em solid #b4b4b4;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
  }
}

.leave-msgsitem {
  .avatar-msg {
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.mg15 {
  margin-right: 15px;
}

.pd5-r {
  padding-right: 5px;
}
