/**
 *创建时间:  2018/6/6
 *  作  者：Jimck_Zhang
 *  邮  箱：XIAOZHANG10086XIAOZHANG@live.com
 *  功  能:
 */
.avatar-editor-cell {
  margin: 4%;
  .avatar-upload-input {
    float: left;
    width: 150px;
  }
  .avatar-buttom {
    width: 30%;
    margin: 10px 0;
  }
}
.form-title {
  height: 49px;
  line-height: 49px;
  color: #666;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 28px;
}
