/**
*创建时间:  2018/5/18
*  作  者：Jimck_Zhang
*  邮  箱：XIAOZHANG10086XIAOZHANG@live.com
*  功  能:
*/
.bg-show {
  min-width: 350px !important;
  width: 350px !important;
  max-width: 400px !important;
}

.fix-position {
  position: relative;
  text-align: center;
}

.qg {
  color: #fff;
  font-weight: 400;
  position: absolute;
  text-align: center;
  left: 35%;
  bottom: 90px;
}

.trigger, .triggerShrink {
  display: inline-block;
  margin: auto 30px;
}

.triggerShrink {
  margin-left: 10px;
}

.logout {
  margin-left: 20px;
}

.blog-home {
  .ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: none;
    overflow: hidden;
  }
  .leftContent {
    min-width: 650px;
    max-width: 650px;
  }
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
}

.blog-home-shrinked {
  margin: auto;
  width: 70%;
  min-width: 70%;
}

.bg_show {
  //background-image: url(./images/myblogbg.jpg);
  min-width: 350px !important;
  width: 350px !important;
  max-width: 400px !important;
}

.ant-input-suffix {
  bottom: 28px;
}

.blog-editor {
  .blog-setting {
    margin-top: 20px;
  }
}

.fix-positon {
  position: relative;
  text-align: center;
}

.h20 {
  height: 20px;
}

.dark {
  h1, h2 {
    color: #fff !important;
  }
  background-color: #404040;
}

.light {
  h1, h2 {
    color: rgba(0, 0, 0, 0.85) !important;
  }
  color: #424242;
  background-color: #fff;
  .ant-layout-header {
    background-color: #fff;
  }
}

.ant-layout-has-sider {
  -webkit-box-shadow: 0 3px 60px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 60px rgba(0, 0, 0, 0.3);
  border-left: 1px solid #cbd5dd;
  border-right: 1px solid #cbd5dd;
}

.blogleave-msg {
  width: 80%;
  margin: auto;
  padding: 30px;
  h1 {
    margin-bottom: 30px;
  }
}
